*{
    margin:0px;
    padding:0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
}
body{
    background-color: lightgrey;
}
/*styling the navigation bar*/
.navbar{ 
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 20px;
}
ul{
    list-style-type:none;
}
li{
    float:left;
}
a{
    display:block;
    padding:8px;
    text-decoration: none;
    color: white;
}
a:hover{
color: yellow;
}
/*styling h2 element*/
h2{
    margin-top:20px;
    text-align: center;
    color:blue;
}
/*styling the paragraph section*/
.p{
   margin-top:30px;
}
P{
    width:200px;
    height:200px;
    margin-left:175px;
    float:left;
    box-sizing: border-box;
    text-align:center;
    font-weight:bold;
}
    
#p1{
    border: 10px groove red;
    margin-right:20px;
    background-color:yellow;
    color: red;
    padding-top:70px;
    
}
#p2{
    border:10px groove green;
    margin-right:20px;
    background-color:red;
    color: yellow;
    padding-top:70px;
    
    
}
#p3{
    border: 10px groove yellow;
    background-color:green;
    color: white;
    padding-top:70px;
    
}
/*styling the footer section*/
.footer{
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #333;
    color: white;
}
#p4{
    width:100%;
    margin:auto;
    padding-top:20px;
    height:70px;
}